a.loginLogo img {
    max-width: 100%;
    margin-top: 5px;
}
.MainPageTitle {
    float: right;
    line-height: 50px;
    font-size: 20px;
    color: #77c138;
    margin-right: 20px;
}
.hideThis{
    display: none !important;
}
.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 25%;
    text-shadow: 1px 1px 0 #fff;
    right: 25%;
    text-align: center;
}
.MainPageTitle span {
    display: block;
    line-height: 25px;
}
.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1.0em;
}

.ui-progressbar {
    height: 1.5em;
    text-align: left;
    overflow: hidden;
}
.loading-overlay{
    background-image: url(../img/loadingmacanta.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin: 0px auto;
    /*margin: 5px;*/
}
.loading-center{
    background-position: center center !important;
}